body {
	margin: 0;
	text-align: center;
	background: black;
	color: white;
	font-family: Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

/* Accent color */

:root {
  --main-color: 221, 90, 86;
}

.bg_accent {
	background: rgb(var(--main-color));
}
.bg_accent80 {
	background: rgba(var(--main-color), 0.8);
}
.color_accent {
	color: rgb(var(--main-color));
}
.border_accent {
	border: 1px solid rgb(var(--main-color));
}

#header_logo {
	max-height: 96px;
    max-width: 60%;
    margin: 48px 16px;
}

.container {
	margin: 32px auto;
	max-width: 1400px;
}
p {
	line-height: 2;
	overflow-wrap: break-word;
}

#menu {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
}

#menu a {
	font-weight: bold;
    margin: 4px;
    width: 33%;
    height: 32px;
    padding: 8px;
    display: flex;
    background: #ffffff22;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.rounded {
	border-radius: 8px;
}

.top_images.deskonly {
	display: flex;
    flex-wrap: wrap;
}

.top_images.deskonly img {
	flex-grow: 1;
	margin: 12px;
	width: calc(100% * (1/2) - 24px - 1px);
}

.top_images.mobonly img {
	width: 100%;
}

.subcontainer {
	background: #ffffff22;
	margin: 18px 0;
	padding: 24px;
}

.nolatpadd {
	padding-right: 0;
	padding-left: 0;
}

.nolatpadd p {
	padding: 0 24px;
}

.smallbox {
	display: flex;
	padding: 0px 24px;
    align-items: center;
    justify-content: space-between;
    font-size: 120%;
}

#minted_totals, #p_mint_price, #project_name {
	font-weight: bold;
}

#mint_dates {
	margin: 24px 0;
	padding: 8px;
    background: #000000aa;
}

#mint_dates p {
    margin: 0;
}

#mint_form {
	display: flex;
    flex-direction: column;
}

#nb_mint_minus:after {
	content: "\e9a0";
	font-family: "Icons Solid";
}

#nb_mint_plus:after {
	content: "\e9b5";
	font-family: "Icons Solid";
}

#nb_mint {
	pointer-events: none;
	width: calc(100% - (3*48px));
    text-align: center;
    font-weight: bold;
    font-size: 120%;
    margin: 0 24px;
    color: white;
    background: #ffffff22;
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#mint_form_input {
	display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

#nb_mint_minus, #nb_mint_plus {
	cursor: pointer;
    background: #ffffff22;
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Main_btn {
	cursor: pointer;
	font-weight: bold;
	transition: transform .2s;
	height: 48px;
	border: none;
    background: rgb(221, 90, 86);
    color: white;
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji!important;
}

#web3_status {
	cursor: pointer;
	font-weight: bold;
	transition: transform .2s;
    padding: 0 24px;
    display: inline-block;
    max-width: 240px;
    display: flex;
    height: 48px;
    justify-content: center;
    align-items: center;
    z-index: 3;
	font-family: Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji!important;
}

#web3_status, #web3_actions {
	position: -webkit-sticky;
    position: fixed;
    top: 24px;
    right: 12px;
}

#web3_actions {
	padding: 48px 24px 24px;
	min-width: 64px;
	display: none;
	text-align: left;
}

a {
	color: white;
}

#web3_actions h2 {
	font-weight: bold;
    font-size: 100%;
}

#Main_btn, #web3_status, #nb_mint_plus, #nb_mint_minus, #menu a {
	transition: background-color 0.2s ease, color 0.3s ease
}

#Main_btn:hover, #web3_status:hover, #nb_mint_plus:hover, #nb_mint_minus:hover, #menu a:hover {
  color: black;
  background: white;
}

.disabled {
	opacity: 0.5;
	pointer-events: none;
}

/* Marquee */
.marquee-content {
	display: flex;
	animation: scrolling 20s linear infinite;
}

.marquee {
	overflow: hidden;
}

.marquee-item {
	flex: 0 0 192px;
	margin: 0;
}

#marquee2 {
	margin-left: -320px;
}

.marquee-item img {
	display: block;
	width: 100%;
}

@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translatex(-768px); }
}

.possibilities {
	width: 100%;
}

sep {
    width: 32px;
    height: 4px;
    background: white;
    text-align: center;
    margin: 16px 0;
}

.title {
	display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0;
    margin: 0;
}

.title h2 {
	padding: 16px 0;
    margin: 0;
    font-size: 32px;
}

#notification {
    transition: all 0.3s ease;
    position: fixed;
    top: 96px;
    max-width: 300px;
    right: -100vw;
    background: rgb(var(--main-color));
    color: white;
    font-weight: bold;
    padding: 8px 32px;
}

#notification p {
	margin: 0;
}

.wallpaper_page {
	max-width: 1080px;
}

p.roadmap_num {
    font-size: 200%;
    font-weight: bold;
    padding: 8px;
    height: 48px;
    width: 48px;
    overflow-wrap: normal;
    border-radius: 50%;
    border: 12px solid white;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.roadmap_num.done {
	background: mediumseagreen;
}

.wp_crew {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.crew_twitter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
}

.crew_twitter img {
    border-radius: 50%;
    height: 92px;
}

#nft_composer {
	display: none;
	position: fixed;
    background: black;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    z-index: 99999;
    padding: 16px;
}

#composer_close {
    position: absolute;
    top: 16px;
    margin: 0;
    right: 16px;
    overflow-wrap: normal;
    background: white;
    color: black;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 150%;
    cursor: pointer;
}

#composer_preview {
	display: flex;
	flex-direction: row;
}

#preview_canvas, #composer_left {
	margin: 8px;
	width: 50%;
	height: auto;
}

#composer_traits_selector {
	overflow: auto;
	display: flex;
    flex-direction: column;
    max-height: 590px;
    border: 1px solid #333333;
    text-align: left;
    margin-bottom: 12px;
}

input[type="radio"] {
    filter: hue-rotate(127deg);
}

div[class^="div_trait_"], div[class*="div_trait_"] {
    margin: 8px;
}

.composer_categorie_title, #composer_traits_selector div {
    margin-left: 8px;
}

.composer_categorie_title {
	text-transform: uppercase;
}

#composer_confirm {
	width: max-content;
}

.btnn {
	height: 48px;
	padding: 0 24px;
	display: flex;
	justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji!important;
}

@media only screen and (max-device-width: 480px) {
    .deskonly {
    	display: none!important;
    }

    #header_logo {
	    margin: 96px 48px 16px;
	}
	#menu a {
		font-size: 90%;
	}
    .container {
    	margin: 16px;
    }
    .marquee-item {
    	flex-basis: 96px;
    }
    #marquee2 {
		margin-left: -180px;
	}

	sep {
	    width: 24x;
	    height: 2px;
	}

	.title {
	    padding: 16px 0;
	    margin: 0;
	}

	.title h2 {
		padding: 8px 0;
	    font-size: 24px;
	}
	.textleftmobile {
		text-align: left;
	}

	#nft_composer {
		inset: 2vh 5vw;
	}

	#preview_canvas, #composer_traits_selector {
		height: auto;
		width: 80vw;
	}
	#composer_preview {
		flex-direction: column;
	}
	#composer_traits_selector {
		height: 300px;
	}
}

@media only screen and (min-device-width: 481px) {
    .mobonly {
    	display: none!important;
    }
    /* Photos and mint dialog side by side on PC */
    .container {
		display: flex;
	    justify-content: space-between;
	    flex-wrap: wrap;
    }
    .top_images.deskonly, .mint_container {
    	width: 45%;
    }
    #menu, .full-width-pc {
		width: 100%;
	}
	#nft_composer {
		max-height: 800px;
    	max-width: 1300px;
	}
}

@font-face {
	font-family: "Icons Solid";
	src: url("Icons.ttf") format("truetype");
}
