:root {
  --main-color: 167, 199, 231;
  --main-fonts: Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  --main-white: 255, 255, 255;
  --main-black: 0, 0, 0;
  --prefers_color_scheme:dark;
}

@media (prefers-color-scheme: light) {
	:root {
		--prefers_color_scheme:light;
	}
}

html {
	scroll-behavior: smooth;
}

.testing {
	display: none;
}

* {
	transition: background-color 0.4s ease, filter 0.5s ease;
}

body {
	margin: 0;
	padding: 0 16px;
	text-align: center;
	background: rgb(var(--main-black));
	color: rgb(var(--main-white));
	font-family: var(--main-fonts);
}

#footer {
	width: 100%;
	padding: 24px 0;
	display: flex;
    align-items: center;
    flex-direction: column;
}

#ui_mode {
	height: 24px;
    background: white;
    width: 48px;
    text-align: center;
    border-radius: 14px;
    border: 2px solid white;
    position: relative;
    cursor: pointer;
}

#ui_mode_slider {
	width: 24px;
    height: 24px;
    background-color: rgb(var(--main-color));
    border: 2px solid white;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 14px;
    transition: left 0.2s ease;
}

#ui_mode_icon {
	height: 20px;
	width: 20px;
	filter: invert(1);
	margin: 2px;
}

::-webkit-scrollbar {
  width: 24px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #00000000;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(var(--main-color));
  border: 8px solid #00000000;
  border-radius: 12px;
  background-clip: padding-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--main-white)); 
  background-clip: padding-box;
}

.bg_accent80 {
	background: rgba(var(--main-color), 0.8);
}
.color_accent {
	color: rgb(var(--main-color));
}
.border_accent {
	border: 2px solid rgb(var(--main-color));
}

#header_logo {
	max-height: 96px;
    max-width: 60%;
    margin: 48px 16px;
}

.container {
	margin: 32px auto;
	max-width: 1400px;
}
p {
	line-height: 2;
	overflow-wrap: break-word;
}

#menu {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
}

.overlays_wrapper {
	position: relative;
	transform: translateZ(0);
}
.overlays_wrapper > * {
	position: absolute;
	left: 0;
	top: 0;
}

#menu a {
	font-weight: bold;
    margin: 4px;
    width: 33%;
    height: 32px;
    padding: 8px;
    display: flex;
    background: rgba(var(--main-white),0.1);
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.rounded {
	border-radius: 8px;
}

.top_images.deskonly {
	display: flex;
    flex-wrap: wrap;
}

.top_images.deskonly img {
	flex-grow: 1;
	margin: 12px;
	width: calc(100% * (1/2) - 24px - 1px);
}

.top_images.mobonly img {
	width: 100%;
}

.subcontainer {
	background: rgba(var(--main-white),0.1);
	margin: 18px 0;
	padding: 24px;
}

.nolatpadd {
	padding-right: 0;
	padding-left: 0;
}

.nolatpadd p {
	padding: 0 24px;
}

.smallbox {
	display: flex;
	padding: 0px 24px;
    align-items: center;
    justify-content: space-between;
    font-size: 120%;
}

#nb_minted, #mint_price, #project_name {
	font-weight: bold;
}

.mint_amount_container {
	display: none;
}

#mint_dates {
	margin: 24px 0;
	padding: 8px;
    background: rgba(var(--main-black),0.6);
    display: none;
}

#mint_dates p {
    margin: 0;
    font-style: italic;
}

#mint_dates h2 {
    font-weight: bold;
}

.countdown_container {
	display: none;
}

#mint_form {
	display: flex;
    flex-direction: column;
}

#nb_mint_minus:after {
	content: "\e9a0";
	font-family: "Icons Solid";
}

#nb_mint_plus:after {
	content: "\e9b5";
	font-family: "Icons Solid";
}

#nb_mint {
	pointer-events: none;
	width: calc(100% - (3*48px));
    text-align: center;
    font-weight: bold;
    font-size: 120%;
    margin: 0 24px;
    color: rgb(var(--main-white));
    background: rgba(var(--main-white),0.1);
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#mint_form_input {
	display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

#nb_mint_minus, #nb_mint_plus {
	cursor: pointer;
    background: rgba(var(--main-white),0.1);
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#web3_status {
    max-width: 240px;
    z-index: 3;
    font-size: 80%;
}

#web3_status, #web3_actions {
	position: -webkit-sticky;
    position: fixed;
    top: 24px;
    right: 12px;
}

#web3_actions {
	padding: 48px 24px 24px;
	min-width: 64px;
	z-index: 2;
	display: none;
	text-align: left;
	backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
}

#logout {
	display: none;
    height: 1.4em;
    margin-left: 8px;
    background: rgba(var(--main-black),0.2);
    border-radius: 50%;
}

#my_nft {
	display: none;
}

a {
	color: white;
}

.walletconnect-modal__mobile__toggle a {
	color: black!important;
}

#web3_actions h2 {
	font-weight: bold;
    font-size: 100%;
    color: white;
}

#web3_actions p {
	margin: 0;
}

#nb_mint_plus, #nb_mint_minus, #menu a, .btnn {
	transition: background-color 0.2s ease, color 0.3s ease, transform .2s
}

body.hasHover #nb_mint_plus:hover, body.hasHover #nb_mint_minus:hover, body.hasHover #menu a:hover, body.hasHover .btnn:hover {
  color: rgb(var(--main-black));
  background: rgb(var(--main-white));
}

.disabled {
	opacity: 0.5;
	pointer-events: none;
}

/* Marquee */
.marquee-content {
	display: flex;
	animation: scrolling 20s linear infinite;
}

.marquee {
	overflow: hidden;
	transform: translateZ(0);
}

.marquee-item {
	flex: 0 0 192px;
	margin: 0;
}

#marquee2 {
	margin-left: -320px;
}

.marquee-item img {
	display: block;
	width: 100%;
}

@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translatex(-768px); }
}

.possibilities {
	width: 100%;
}

sep {
    width: 32px;
    height: 4px;
    background: rgb(var(--main-white));
    text-align: center;
    margin: 16px 0;
}

.title {
	display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0;
    margin: 0;
    font-family: Moji, var(--main-fonts);
}

.title h2 {
	padding: 16px 0;
    margin: 0;
    font-size: 32px;
}

#notification {
    transition: all 0.3s ease;
    position: fixed;
    top: 96px;
    max-width: 500px;
    right: -100vw;
    background: rgb(var(--main-color));
    color: rgb(var(--main-white));
    font-weight: bold;
    padding: 8px 32px;
    z-index: 999999999;
    text-align: right;
}

#notification p {
	margin: 0;
}

.wallpaper_page {
	max-width: 1080px;
}

p.roadmap_num {
    font-size: 200%;
    font-weight: bold;
    padding: 8px;
    height: 48px;
    width: 48px;
    overflow-wrap: normal;
    border-radius: 50%;
    border: 12px solid rgb(var(--main-white));
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.roadmap_num.done {
	background: mediumseagreen;
}

.wp_crew {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.crew_twitter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
}

.crew_twitter img {
    border-radius: 50%;
    height: 92px;
}

#nft_composer_header {
	display: flex;
    justify-content: space-between;
    align-items: center;
}

#nft_composer_header > plc {
	width: 44px;
	opacity: 0;
}

#nft_composer {
	display: none;
	position: fixed;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    background: rgba(var(--main-black),0.4);
    inset: 12px;
    margin: auto;
    text-align: center;
    z-index: 99999;
    padding: 6px 16px 16px 16px;
    box-shadow: rgb(var(--main-color)) 0px 0px 165px;
    -webkit-box-shadow: rgb(var(--main-color)) 0px 0px 165px;
    -moz-box-shadow: rgb(var(--main-color)) 0px 0px 165px;
    -ms-box-shadow: rgb(var(--main-color)) 0px 0px 165px;
    -o-box-shadow: rgb(var(--main-color)) 0px 0px 165px;
    box-shadow: rgb(var(--main-color)) 0px 0px 165px;
    border: 2px solid rgba(var(--main-color),30%);
}

#nft_composer * {
	transform: translateZ(0);
}

#composer_title, #avatar_config > h2 {
	font-family: Moji, var(--main-fonts);
    margin: 8px 0;
}

#composer_close_div {
    margin-right: 8px;
    overflow-wrap: normal;
    background: rgb(var(--main-white));
    color: rgb(var(--main-black));
    border-radius: 50%;
    height: 36px;
    width: 36px;
    font-weight: bold;
    font-size: 150%;
    cursor: pointer;
    transition: filter 0.2s ease;
}

#composer_close {
	display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 36px;
}

body.hasHover #composer_close_div:hover {
	filter: invert(1);
}

#composer_preview {
	display: flex;
	flex-direction: row;
}

#canvas_div {
	background: rgba(var(--main-black),0.3);
}

#canvas_div > * {
	width: 100%;
	height: 100%;
}

#composer_left {
	display: flex;
    flex-direction: column;
    align-items: center;
}

#composer_left, #canvas_div {
	margin: 8px;
	width: 50%;
	height: auto;
}

#preview_canvas2 {
	display: none;
}

#composer_traits_selector {
	width: 100%;
	overflow: auto;
	display: flex;
    flex-direction: column;
    max-height: 590px;
    border: 1px solid #333333;
    text-align: left;
    margin-bottom: 12px;
	background: rgba(var(--main-color),0.1);
}

input[type="radio"] {
    accent-color: black;
    margin: 0 5px;
}

div[class^="div_trait_"], div[class*="div_trait_"] {
    margin: 8px;
}

.composer_categorie_title, #composer_traits_selector div {
    margin-left: 12px;
}

.composer_categorie_title {
	text-transform: uppercase;
}

#avatar_config {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
	z-index: 9999;
    background: rgba(var(--main-black),0.65);
    margin: 5%;
    height: 90%;
    width: 90%;
    padding: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#avatar_config > * {
	margin: 0;
}

#avatar_config_hash {
	border: none;
    background: rgb(var(--main-black));
    color: rgb(var(--main-white));
    margin: 2px;
    text-align: center;
    width: 50%;
}

#avatar_config_traits {
	max-height: 30%;
    overflow: auto;
}

#avatar_config_buttons {
	display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
}

body.hasHover #avatar_hash_share img:hover {
   	filter: none;
}

#avatar_hash_share {
	width: max-content;
}

#avatar_hash_share img {
 	height: 1.5em;
    margin-right: 1em;
    filter: invert(1);
}

#composer_buttons {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#composer_buttons > .btnn {
	width: 48%;
	padding: 0;
}

.disabled.soldout:after {
	content: 'Sold out âŒ';
	float: right;
	margin-right: 12px;
}

.accordion {
	cursor: pointer;
	transition: color 0.2s ease;
}

.accordion:after {
    content: '\02795';
    font-size: 13px;
    float: right;
    margin-right: 12px;
    background-color: white;
    border-radius: 12px;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;   
    transition: background-color 0.2s ease;
}

.accordion.lightmode:after {
	filter: invert(1) brightness(1.5);
}


.accordion.active:after {
	content: "\2796";
}

.accordion.disabled:after {
	display: none;
}

.accordion_panel {
	overflow: hidden;
	max-height: 0;
	opacity: 0;
	transition: max-height 0.2s ease-out, overflow 0.2s ease-out, opacity 0.2s ease-out;
}

.btnn {
	color: white;
	background: rgb(var(--main-color));
	height: 48px;
	padding: 0 24px;
	display: flex;
	justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    border: none;
}

.btnn, #menu a {
	font-family: Moji, var(--main-fonts);
    letter-spacing: 1px;
}

.fakescrollbar {
	overflow: hidden;
}

@media only screen and (max-device-width: 480px) {
	#notification {
		max-width: 250px;
	}
	::-webkit-scrollbar {
	  width: 6px;
	}

	::-webkit-scrollbar-thumb {
	  border-radius: 3px;
	  border-width: 1px;
	}

    .deskonly {
    	display: none!important;
    }

    #header_logo {
	    margin: 96px 48px 16px;
	}
	#menu a {
		font-size: 90%;
	}
    .marquee-item {
    	flex-basis: 96px;
    }
    #marquee2 {
		margin-left: -180px;
	}

	sep {
	    width: 24x;
	    height: 2px;
	}

	.title {
	    padding: 16px 0;
	    margin: 0;
	}

	.title h2 {
		padding: 8px 0;
	    font-size: 24px;
	}

	.composer_categorie_title {
	    margin: 12px 0 12px 12px;
	}

	.textleftmobile {
		text-align: left;
	}

	#canvas_div, #composer_traits_selector, #composer_left {
		height: auto;
		width: 80vw;
	}
	#canvas_div{
		height: 80vw;
	}
	#composer_title {
	    font-size: 130%;
	}
	#composer_preview {
		flex-direction: column;
		align-items: center;
	}
	#composer_traits_selector {
		height: calc(100vh - 80vw - 250px);
		margin-bottom: 8px;
	}
	#composer_buttons {
		flex-direction: column;
	}
	#composer_buttons > .btnn {
		margin-top: 4px;
		width: 100%;
	}
	#avatar_config {
	    margin: 0;
	    height: 100%;
	    width: 100%;
	    font-size: 60%;
	}
	#avatar_config_hash {
		width: 80%;
	}
	#avatar_config .btnn {
		padding: 0 12px;
		height: 32px;
	}
	#mint_dates p {
	    font-size: 80%;
	}

	#nb_minted p, #mint_price p {
	    margin: 12px 0;
	}
}

@media only screen and (min-device-width: 481px) {
    .mobonly {
    	display: none!important;
    }
    /* Photos and mint dialog side by side on PC */
    .container {
		display: flex;
	    justify-content: space-between;
	    flex-wrap: wrap;
	    align-items: center;
    }
    .top_images.deskonly, .mint_container {
    	width: 45%;
    }
    #menu, .full-width-pc {
		width: 100%;
	}
	#nft_composer {
		max-height: 800px;
    	max-width: 1300px;
    	box-shadow: rgb(var(--main-color)) 0px 0px 35px;
	    -webkit-box-shadow: rgb(var(--main-color)) 0px 0px 35px;
	    -moz-box-shadow: rgb(var(--main-color)) 0px 0px 35px;
	    -ms-box-shadow: rgb(var(--main-color)) 0px 0px 35px;
	    -o-box-shadow: rgb(var(--main-color)) 0px 0px 35px;
	    box-shadow: rgb(var(--main-color)) 0px 0px 35px;
	}

	.fakescrollbar {
		margin-right: 24px;
	}
}

@font-face {
	font-family: "Icons Solid";
	src: url("Icons.ttf") format("truetype");
}

@font-face {
	font-family: "Moji";
	src: url("Moji.otf") format("opentype");
}

.loader_wrapper {
	display: none;
	background: rgba(var(--main-black),0.3);
	z-index: 2;
}

.loader {
	color: rgb(var(--main-white)); /*rgb(var(--main-color));*/
	font-size: 20px;
	margin: auto;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	position: absolute;
	text-indent: -9999em;
	-webkit-animation: load4 1.3s infinite linear;
	animation: load4 1.3s infinite linear;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

